.input__container{
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    position: relative;
}

.input__container > *{
    margin: auto 15px;
    display: flex;
    flex-flow: column;
}

.input__query-input{
    font-size: 16px;
    background-color: #fff;
    color: #08506d;
    font-weight: 700;
    text-align: right;
    font-family: 'Arial Narrow', sans-serif;
    border-style: unset;
    list-style: none;
    padding: .5em;
    font-variant: all-petite-caps;
    box-shadow: 0 0 1px 1px rgba(8,80,109,0.5);
    margin: 5px 0;
}

.input__query-button{
    padding: 1em;
    background-color: #ddd;
    text-align: center;
    font-family: 'Arial Narrow', sans-serif;
    border-radius: .25em;
    border-style: unset;
    list-style: none;
    color: #fff;
    font-weight: 700;
    margin: 5px 0;
}

#execute.active{
    background-color: #8bb23f;
}
#execute.active:hover{
    background-color: #ccdca7;
}
#clear.active{
    background-color: red;
}
#clear.active:hover{
    background-color: #f9aa8f;
}

.input__input-option{
    font-weight: 700;
    font-size: 14px;
    text-align: center;
}

#muni, #direction{
    display: none;
}


