.input__container{
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    position: relative;
}

.input__container > *{
    margin: auto 15px;
    display: flex;
    flex-flow: column;
}

.input__query-input{
    font-size: 1rem;
    background-color: #fff;
    color: #777;
    border-style: unset;
    list-style: none;
    margin: 5px 0;
    padding: .25rem;
    font-weight: 500;
}

.input__query-button{
    padding: .5em;
    font-size: 1rem;
    background-color: #ddd;
    text-align: center;
    border-radius: 22px;
    border-style: unset;
    list-style: none;
    color: #fff;
    font-weight: 700;
    margin: 5px 0;
}

#execute.active{
    background-color: #465920;
}
#execute.active:hover{
    background-color: #eee;
}
#clear.active{
    background-color: #e89234;
}
#clear.active:hover{
    background-color: #edceab;
}

.input__input-option{
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
}

#muni, #direction{
    display: none;
}


