.accessibility-page{
  height:100%;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  /* margin: 20px auto; */
  font-family: 'Arial Narrow', sans-serif;
  background-color: whitesmoke
}


.accessibility-section{
  width: 95%;
  display: flex;
  flex-flow: column;
  padding: 2% 0;
  background-color: white;
  border-radius: 10px;
  opacity: .1;
  min-height: 25vh;
  margin: 33% auto;
  justify-content: center;
  box-shadow: 2px 2px 3px rgba(0,0,0,.1)
}

.accessibility-section h1{
  text-align: center;
  color: #8bb234;
  font-size: 1.75rem;
}

.accessibility-section>p{
  color: #999;
  font-size: .95rem;
  width: 90%;
  margin: 2% auto;
}

.accessibility-section.active{
  opacity: 1;
}
.accessibility-section-content{
  display: none;
  font-size: 1em;
  color: #6a6a6a;
  padding: 10px;
  margin: 5px auto;
}

.accessibility-section-content.active{
  width: 90%;
  display: block;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
}

.accessibility-text{
  width: 30%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  overflow-y: auto
}
.accessibility-text> h3{
  text-align: center;
  margin: 1em auto;
  color: #08506d;
  font-family: 'Arial Narrow', sans-serif;
  width: 66%;
  word-wrap: normal;
}
.accessibility-text>p{
  width: 75%;
  margin: 1em auto;
  color: #aaa
}

.accessibility-map{
  width: 70%;
  height: 100%;
}

.mapboxgl-popup-content{
  padding: 5px;
  font-size: 1.2em;
  color: white;
  font-weight: 700;
  margin: 0;
}