#accessibility{
  height: 90%;
  width: 100%;
  order: 2;
}

.accessibility-learn-more{
  margin: 5px auto;
  width: 90%;
  color: #f7f7f7;
}

.accessibility-page{
  height:90%;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  position: absolute;
  top: 10%
}

#accessibility-nav{
  display: flex;
  flex-flow: column;
  height: 100%;
  margin: auto 1%;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  z-index: 2;
}
#accessibility-nav a{
  text-decoration: none;
}

.accessibility__nav-link{
  position: relative;
  display: inline-block;
  padding: .5rem;
  border-radius: 50%;
  background: #fff;
  margin: 10%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  color: #90d1be;
  text-decoration: none;
  border: 1px solid #90d1be
}
.accessibility__nav-link.active{
  background: #90d1be;
  color: #fff;
  font-weight: 700;
}

.accessibility__nav-tooltip{
  visibility: hidden;
  white-space: nowrap;
  font-weight: 400;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 1%;
  position: absolute;
  z-index: 6;
  left: 0;
  margin-left: 3rem;
  font-size: 1rem;
  border-radius: 5px;
}


#accessibility-nav div:hover .accessibility__nav-tooltip{
  visibility: visible;
  opacity: .75;
}

#accessibility-nav div:hover{
  color: #06bf9c;
  background: #ddd;
  box-shadow: 2px 2px 4px rgba(153,153,153,.5);
}
#accessibility-nav div.active{
  background: #06bf9c;
  color: #fff
}
#accessibility-nav div.active:hover{
  color: #eee
}
.accessibility-section{
  width: 95%;
  display: flex;
  flex-flow: column;
  padding: 2% 0;
  background-color: #06bf9c;
  border-radius: 5px;
  opacity: .1;
  margin: 21% auto;
  justify-content: center;
  box-shadow: 2px 2px 3px rgba(0,0,0,.1)
}

.accessibility-section h1{
  text-align: center;
  color: #fff;
  font-size: 1.75rem;
  margin: 2% 0 3% 0;
  padding: 0 5%;
}
.accessibility-section#intro hr{
  background: #d8eee6;
  margin-bottom: 0.5rem;
}
.accessibility-section>p{
  color: #fcfcfc;
  font-size: .95rem;
  width: 90%;
  margin: 2% auto;
}

.accessibility__titleDivider{
  width: 67.5%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.accessibility__titleDivider hr{
  width: 33%;
  height: 2px;
  background: #e4f1fe;
  border: none;
  margin-bottom: 1.25rem;
}

.accessibility__titleDivider h2{
  font-weight: 700;
  color: #e4f1fe;
  font-size: 1.25rem;
  margin: 0 0 5% 0;
  padding: 0 5%;
}

.accessibility-section h3{
  text-align: center;
  color: #e4f1fe;
  font-size: 1rem;
  margin: 0 auto 2%;
  width: 80%;

}
.accessibility-section nav{
  width: 40%;
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: center;
}

.accessibility-section.active{
  opacity: 1;
}

.accessibility-text{
  width: 30%;
  height: 100%;
  display: flex;
  flex-flow: column;
  overflow-y: auto;
  background: #d8eee6
}
.accessibility-text> h3{
  text-align: center;
  margin: 1em auto;
  color: #e4f1fe;
  width: 66%;
  word-wrap: normal;
}

.accessibility-map{
  width: 70%;
  height: 100%;
}

.mapboxgl-popup-content{
  font-size: 1.2em;
  color: white;
  font-weight: 700;
  margin: 0;
}

#caseStudy {
  padding: 10% 0;
}

#caseStudy nav{
  margin: 3% auto;
}

#caseStudy a{
  font-weight: 700;
  font-size: 1.25rem;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 0 2%;
  padding: 2px 8px;
}

#caseStudy a:hover, .accessibility__nav-link:hover{
  cursor: pointer;
  background: #fff;
  color: #06bf9c;
}

#caseStudy a.active{
  background: #fff;
  color: #06bf9c;
}

#caseStudy h3{
  text-align: center;
  font-size: 1.15rem;
  color: #fcfcfc;
  width: 80%;
  margin: 1% auto;
}


@media all and (max-width: 800px ) {
  .accessibility-page {
    flex-direction: column;
  }
  #accessibility-nav {
    height: 40%;
    top: 15%;
  }
  .accessibility__nav-link {
    height: 10px;
    width: 10px;
  }
  .accessibility-map {
    width: 100%;
    height: 60%;
  }
  .accessibility-text {
    width: 100%;
    height: 40%;
  }
  .accessibility-section {
    margin: 4% auto;
  }
  .accessibility-section h1 {
    font-size: 1.2rem;
  }
  .accessibility__titleDivider {
    width: 90%;
  }
  .accessibility__titleDivider h2 {
    font-size: 1.1rem;
  }
  .accessibility__titleDivider hr {
    width: 25%;
  }
}

@media all and (max-width: 320px ) {
  .accessibility-section > p {
    font-size: 12px;
  }
}