.accessibility-legend{
  font-family: 'Arial Narrow', sans-serif;
  display: flex;
  background-color: white;
  border-radius: 4px;
  margin: 10px auto;
  padding: 5px;
  box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.1);
  z-index: 5;
  flex-flow: column;
  font-size: .85rem;
  width: 75%;
}

.accessibility__legend-row{
  display: flex;
  align-items: center;
  width: 100%;
}

.station-icon{
  height: .5rem;
  width: .5rem;
  border-radius: 50%;
  padding: 5px;
  margin: 5px;
  border: 2.5px solid white;
}

.legend-label{
  margin: 0;
  color: #888;
  font-size: .8rem;
}


.accessibility__legend-zones{
  text-align: center;
}

.accessibility__legend-zones .accessibility__legend-row{
  display: flex;
  justify-content: center;
  margin: .25rem;
}

.accessibility__legend-zones .legend__row-label{
  margin: 0 .5rem;
  font-size: .8rem;
  color: #888
}

.accessibility__legend-zones h3{
  margin: .25rem;
  font-size: .9rem;
  color: #08506d
}
.accessibility__legend-zoneBox{
  height: 20px;
  width: 20px;
}

.legend__row-label p{
  margin: 0 .5em;
  color: #888
}



