.nav__link-container{
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center
}

a {
    text-decoration: none;
    font-family: 'Arial Narrow', Arial, sans-serif;
}
.nav__link-active{
    font-weight: 700;
}