<template id='footer-template'>
    <link rel='stylesheet' href='/components/footer/footer.css'>
    <div class='footer__container'>
        <div class='footer__dvrpc'>
            <a href='https://www.dvrpc.org/' target='_blank' rel='noopener'><img class='footer__logo' alt='Delaware Valley Regional Planning Commission Logo'></img></a>
            <div class='footer__dvrpc-info'></div>
        </div>
        <div class='footer__app-info'></div>
        <div class='footer__contact-info'></div>
    </div>
</template>
<script src='/components/footer/FooterElements.js'></script>
<script src='/components/footer/footer.js'></script>