


.map__sidebar-menuContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.map__sidebar-content{
  height: 90%;
  width: 100%;
}

.map__sidebar-menuHeader{
    height: 75%;
    list-style: none;
    color: #7eaad2;
    font-size: 1.25em;
    display: flex;
    align-items: center;
    margin: 0 25px;
}

.map__sidebar-menuHeader.active{
  font-weight: 700;
  font-size: 1.5rem;
  color: #08506d;
  border-bottom: 2px solid #e89234;
}
.map__sidebar-menuHeader:hover{
  cursor: pointer;
}
.map__sidebar-menuContent{
  display: none;
}
.map__sidebar-menuContent.active{
  display: flex;
  flex-flow: column;
  align-items: center;
}
.map__sidebar-menuContent section{
  width: 60%;
  background: white;
  padding: 15px;
  margin: 2rem auto;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
  font-size: .9em;
  color: #08506d;
  border-radius: 5px;
}
#gap__results-section{
  order:2;
}
#legend{
  display: flex;
  flex-flow: column;
}
.map__sidebar-legendClasses{
  display: flex;
  height: 3rem;
}
.map__sidebar-legendLabels{
  display: flex;
  justify-content: space-between;
}
.map__sidebar-legendLabels p{
  font-size: .85rem;
  margin: 1%;
}
.map__sidebar-legend{
  display: flex;
  height: 100%;
  width: 50%;
  flex-flow: column;
}
.map__sidebar-legendTitle{
  width: 100%;
  text-align: center;
  margin: 5% 0;
  font-weight: 700;
}
.map__sidebar-legendSection{
  display: flex;
  height: 100%;
  width: 100%;
}
.map__sidebar-legendCell{
  width: 100%;
  height: 100%
}

.sidebar__input-container{
  order: 1;
  display: flex;
  margin-left: 10px;
  align-items: center;
  margin: auto;
  flex-flow: column;
  justify-content: space-evenly;
}

.sidebar__input-container>*{
  width: 100%;
  margin: 5px;
  display: flex;
  flex-flow: column;
}

.map__sidebar-summaryContent{
  width: 100%;
  margin: 0 auto 5%;
}

.map__sidebar-legendEmphasis{
  font-weight: 700;
  color: #e89234;
}