*{
  font-family: 'Arial Narrow', sans-serif;
}

.map__sidebar-menuContainer{
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  margin: 20px;
}

.map__sidebar-menu{
  font-family: 'Arial Narrow', sans-serif;
  background-color: #323232;
  padding: 1em 0;
  width: 66%;
  border-radius: .25em;
  border-style: unset;
  border: 1px solid whitesmoke;
  opacity: 1;
  color: #fff;
  font-weight: 700;
  font-size: 1.25em;
}

.map__sidebar-menuContent{
  display: none;
  width: 60%;
  background: white;
  padding: 15px;
  margin: .2em;
  box-shadow: 2px 2px 7px -2px #c3c3c3;
  font-size: .9em;
  color: #08506d;
}

.map__sidebar-menuContent.active{
  display: flex;
  flex-flow: column;
  align-items: center;
}

.map__sidebar-legendCell{
  width: 25px;
  height: 25px;
}

.map__sidebar-legendLabel{
  color: #08506d;
  text-align: center;
}

.sidebar__input-container{
  order: 1;
  display: flex;
  margin-left: 10px;
  align-items: center;
  margin: auto;
  flex-flow: column;
  justify-content: space-evenly;
}

.sidebar__input-container>*{
  width: 100%;
  margin: 5px;
  display: flex;
  flex-flow: column;
}

.map__sidebar-summaryContent{
  width: 100%;
  margin: 5px auto;
}

.map__sidebar-legendEmphasis{
  font-weight: 700;
  color: #e89234;
}