


.map__sidebar-menuContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7.5%;
  width: 100%;
  padding: 0;
  margin-bottom: 5%;
}

.map__sidebar-content{
  height: 92.5%;
  width: 100%;
  overflow-y: auto;
}

.map__sidebar-menuHeader{
    background: rgba(0, 0, 0, 0.3);
    text-decoration: none;
    font-weight: 200;
    color: #fff;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
}
.map__sidebar-menuHeader:first-child{
  border-right: 2px solid #fff;
}

.map__sidebar-menuHeader.active{
  font-weight: 900;
  background: none;
}
.map__sidebar-menuHeader:hover{
  cursor: pointer;
  font-weight: 900;
}

.transit-toggle {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  color: #8bb23f;
  background: whitesmoke;
  padding: 3% 1%;
  margin: 5% 0;
  border-radius: 10px;
  box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.1);
}

.transit-toggle div{
  display: flex;
  align-items: center;
}

.map__sidebar-menuContent{
  display: none;
}
.map__sidebar-menuContent.active{
  display: flex;
  flex-flow: column;
  align-items: center;
}
.map__sidebar-menuContent section{
  width: 80%;
  padding: 15px;
  font-size: 1em;
  /* ongoing list of accessible colors:
    dark grey: 2d383c
  */
  color: #fff;
  border-radius: 5px;
}
#gap__results-section{
  order:3;
}
.map__sidebar-summaryContent strong{
  color: #08506d
}
.map__sidebar-summaryContent strong{
  color: #08506d
}
.map__sidebar-summaryContent strong{
  color: #08506d
}
#legend{
  display: flex;
  flex-flow: column;
}
.map__sidebar-legendClasses{
  display: flex;
  height: 3rem;
}
.map__sidebar-legendLabels{
  display: flex;
  justify-content: space-between;
}
.map__sidebar-legendLabels p{
  font-size: .85rem;
  margin: 1%;
}
.map__sidebar-legend{
  display: flex;
  height: 100%;
  width: 50%;
  flex-flow: column;
}
.map__sidebar-legendTitle{
  width: 100%;
  text-align: center;
  margin: 5% 0;
  font-weight: 700;
}
.map__sidebar-legendSection{
  display: flex;
  height: 100%;
  width: 100%;
}
.map__sidebar-legendCell{
  width: 100%;
  height: 100%
}
.gap-legend-title{
  text-align: center;
  margin: 1% 0;
}

.gap__sidebar-contentButton{
  width: 100%;
  margin-top: 3%;
}

.gap__sidebar-contentButton button{
  font-size: 1em;
  border: none;
  color: white;
  background: #8bb23f;
  padding: 5%;
  margin: .5rem auto;
  box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.1);
  border-radius: 5px;
  width: 100%;
}

.gap__sidebar-contentButton button:hover{
  cursor: pointer;
}

.gap__sidebar-contentButton div {
  display: none;
  padding: 5%;
  margin: auto;
  background-color: whitesmoke;
  border-radius: 20px;
  color: #08506d;
}

.gap__sidebar-contentButton strong{
  color: #8bb23f;
}
.gap__sidebar-contentButton div.active{
  display: block;
}

.gap__sidebar-contentButton div h3{
  margin: 1% auto;
}
.gap__sidebar-contentButton div p {
  margin: 0 0 1rem;
  
}

#analysis_dropdownContent .transit-toggle{
  order: 2;
}

.sidebar__input-container{
  order: 1;
  display: flex;
  margin-left: 10px;
  align-items: center;
  margin: auto;
  flex-flow: column;
  justify-content: space-evenly;
}

.sidebar__input-container>*{
  width: 100%;
  margin: 5px;
  display: flex;
  flex-flow: column;
}

.map__sidebar-summaryContent{
  width: 100%;
  margin: 0 auto 5%;
}

.map__sidebar-legendEmphasis{
  font-weight: 700;
  color: #e89234;
}