#home{
  min-height: 100%;
  width: 100%;
  font-family: 'Roboto', 'Arial', sans-serif;
  order: 2;
  overflow-y: auto;
  overflow-x: hidden;

}

#home section{
  width: 100%;
}

#logo-container{
  top: 0;
  height: 49.5%;
  background: #fff;
}

#logo-container svg{
  position: relative;
  left: 10%;
  top: 10%;
  width: 20%;
  height: auto;
}

#logo-container svg:hover, #home nav button:hover{
  cursor: pointer;
}
#home nav button:hover{
  font-weight: 700;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}
#desc-container{
  bottom: 0;
  padding-left: 17%;
}
#home-default-text{
  margin-top: 12%
}
#desc-container.active{
  justify-content: flex-end;
}

#desc-container p {
  width: 70%;
  color: #06506d;
  font-size: 1.75rem;
}

#desc-container.active p {
  color: #fff;
  margin-top: 3%
}

#desc-container p strong{
  font-size: 2rem;
}

#home nav{
  height: 3%;
  background: #08506d;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: fixed;
  width: 100%;
  top: 49.5%
}

#home nav button{
  width: 14%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  border: none;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
  text-align: center;
  font-size: 1.4em;
  color: white;
  font-family: 'Roboto', 'Arial', sans-serif;
  margin: 10% 2%;
}

#home nav button.active{
  font-weight: 700;
  border: 5px solid white;
}

.content-links{
  text-align: center;
  background: #eee;
  font-weight: 200;
  padding: 8px 24px;
  font-size: 1.8em;
  display: inline-block;
  margin-top: 10%;
  border-radius: 2px;
}

.content-links span{
  padding-right: 1rem;
  margin-right: 1rem;
  border-right: 2px solid #06506D;
  color: #06506D;
  font-weight: 700;
}

.content-links span:hover{
  cursor: pointer;
}

.content-links a{
  text-decoration: none;
  color: #06506D;
}