#home{
  min-height: 100%;
  width: 100%;
  font-family: 'Roboto', 'Arial', sans-serif;
  order: 2;
  overflow-x: hidden;
}

#home section{
  width: 100%;
}

#logo-container{  
  background: #fff;
  padding-bottom: 11%;
}

#logo-container svg{
  margin: 5% 0 0 12%;
  width: auto;
  height: 20vh;
}

#logo-container svg:hover, #home nav button:hover{
  cursor: pointer;
}

#home nav button:hover{
  font-weight: 700;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}

#desc-container{
  width: 100%;
  margin: 10% 0 25px 17%;
}

#desc-container.active{
  justify-content: flex-end;
}

#desc-container p {
  width: 70%;
  color: #06506d;
  font-size: 1.7rem;
}

#desc-container.active p {
  color: #fff;
  margin-top: 2%;
  margin-bottom: 0;
  text-shadow: 2px 2px 4px #1a1a1a;
}

#home nav{
  height: 30px;
  background: #08506d;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  width: 100%;
  top: 49.5%
}

#home nav button{
  height: 190px;
  width: 190px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  border: none;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
  text-align: center;
  font-size: 1.4em;
  color: white;
  font-family: 'Roboto', 'Arial', sans-serif;
  margin: 0 2%;
  text-shadow: 2px 2px 4px #1a1a1a;
}

#home nav button.active{
  font-weight: 700;
  border: 5px solid white;
}

.content-links{
  text-align: center;
  background: #eee;
  font-weight: 200;
  padding: 8px 24px;
  font-size: 1.8em;
  display: inline-block;
  border-radius: 2px;
}

.content-links span{
  padding-right: 1rem;
  margin-right: 1rem;
  border-right: 2px solid #06506D;
  color: #06506D;
  font-weight: 700;
}

.content-links span:hover{
  cursor: pointer;
}

.content-links a{
  text-decoration: none;
  color: #06506D;
}
@media all and (min-width: 1800px) {
  #logo-container {
    padding-bottom: 13%;
  }
  #logo-container svg{
    margin-top: 3%;
    margin-left: 11%;
    width: 15%;
  }
  #home nav button {
    height: 270px;
    width: 270px;
  }
  #desc-container {
    margin-top: 11%;
  }
}

/* split screen */
@media all and (max-width: 960px ) {
  #logo-container {
    padding-bottom: 38%;
  }
  #logo-container svg {
    width: 30%;
    margin-left: 2.5%;
  }
  #home nav button {
    height: 120px;
    width: 120px;
    font-size: 1rem;
  }
  #desc-container {
    margin: 16% 0 0 0;
  }
  #desc-container p {
    font-size: 1rem;
    width: 85%;
    margin: 0 auto;
    text-align: center;
  }
  #desc-container.active p {
    margin-top: 3%;
  }
  #desc-container p strong {
    font-size: 1.1rem;
  }
  .content-links {
    font-size: 1.1rem;
    display: block;
    width: 70%;
    margin: 0 auto;
  }
}

/* mobile */
@media all and (max-width: 500px) {
  #logo-container {
    padding-bottom: 27%;
  }
  #logo-container svg{
    width: 50%;
    display: block;
    margin: 0 auto;
    padding-top: 20%;
  }
  #home nav {
    height: 15px;
  }
  #home nav button {
    height: 80px;
    width: 80px;
    font-size: 0.8rem;
  }
  #home nav button.active {
    border: 2px solid white;
  }
}

@media all and (max-width: 330px) {
  #home nav button {
    height: 67px;
    width: 67px;
    font-size: 0.65rem;
  }
  .content-links{
    font-size: 0.9rem;
  }
  #desc-container {
    margin: 20% 0 0 0 ;
  }
  #desc-container p strong {
    font-size: 0.8rem;
  }
  #desc-container p {
    font-size: 0.9rem;
  }
}