#home{
  min-height: 100%;
  width: 100%;
  font-family: 'Roboto', 'Arial', sans-serif;
  order: 2;
  overflow-y: auto;
  overflow-x: hidden;

}

#home section{
  width: 100%;
}

#logo-container{
  top: 0;
  height: 49.5%;
  background: #fff;
}

#logo-container svg{
  margin: 5% 0 0 10%;
  width: 20%;
  height: auto;
}

#logo-container svg:hover, #home nav button:hover{
  cursor: pointer;
}

#home nav button:hover{
  font-weight: 700;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}

#desc-container{
  margin: 10% 0 0 17%;
}

#desc-container.active{
  justify-content: flex-end;
}

#desc-container p {
  width: 70%;
  color: #06506d;
  font-size: 1.75rem;
}

#desc-container.active p {
  color: #fff;
  margin-top: 2%;
  margin-bottom: 0;
}

#desc-container p strong{
  font-size: 2rem;
}

#home nav{
  height: 30px;
  background: #08506d;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  width: 100%;
  top: 49.5%
}

#home nav button{
  width: 14%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  border: none;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
  text-align: center;
  font-size: 1.4em;
  color: white;
  font-family: 'Roboto', 'Arial', sans-serif;
  margin: 0 2%;
}

#home nav button.active{
  font-weight: 700;
  border: 5px solid white;
}

.content-links{
  text-align: center;
  background: #eee;
  font-weight: 200;
  padding: 8px 24px;
  font-size: 1.8em;
  display: inline-block;
  border-radius: 2px;
}

.content-links span{
  padding-right: 1rem;
  margin-right: 1rem;
  border-right: 2px solid #06506D;
  color: #06506D;
  font-weight: 700;
}

.content-links span:hover{
  cursor: pointer;
}

.content-links a{
  text-decoration: none;
  color: #06506D;
}
@media all and (min-width: 1800px) {
  #logo-container svg{
    margin-top: 2%;
    margin-left: 11%;
    width: 15%;
  }
  #home nav button {
    width: 12%;
  }
}
@media all and (max-width: 800px) {
  #logo-container svg{
    width: 45%;
    margin-left: 5%;
  }
  #home nav {
    height: 15px;
  }
  #home nav button {
    width: 23%;
    font-size: 0.8rem;
  }
  #home nav button.active {
    border: 2px solid white;
  }
  #desc-container {
    margin: 23% 0 0 0;
  }
  #desc-container p {
    font-size: 1rem;
    width: 95%;
    margin: 0 auto;
  }
  #desc-container.active p {
    margin-top: 3%;
  }
  #desc-container p strong {
    font-size: 1.1rem;
  }
  .content-links {
    font-size: 1.1rem;
    margin-left: 2.5%;
  }
}

@media all and (max-width: 330px) {
  #home nav button {
    width: 24%;
    font-size: 0.7rem;
  }
  #desc-container {
    margin: 20% 0 0 0 ;
  }
  #desc-container p strong {
    font-size: 1rem;
  }
  #desc-container p {
    font-size: 0.9rem;
  }
}