#home{
  height: 100%;
  width: 100%;
  font-family: 'Roboto', 'Arial', sans-serif;
  order: 2;
}

#home section{
  height: 47.5%;
  width: 100%;
  position: fixed;
}

#logo-container{
  top: 0;
}

#logo-container svg{
  position: relative;
  left: 10%;
  top: 10%;
  width: 20%;
  height: auto;
}

#logo-container svg:hover, #home nav button:hover{
  cursor: pointer;
}
#desc-container{
  bottom: 0;
  background: #ddd;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center
}
#desc-container.active{
  justify-content: flex-end;
}

#desc-container p {
  width: 60%;
  color: #06506d;
  font-size: 1.75rem;
}

#desc-container.active p {
  color: #fff;
  margin-bottom: 3%
}

#desc-container p strong{
  font-size: 2rem;
}

#home nav{
  height: 5%;
  background: #08506d;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: fixed;
  width: 100%;
  top: 47.5%
}

#home nav button{
  width: 10%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  border: none;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
  text-align: center;
  font-size: 1.25em;
  color: white;
  font-family: 'Roboto', 'Arial', sans-serif;
  margin: 10% 2%;
}

#home nav button.active{
  font-weight: 700;
  border: 5px solid white;
}

.content-links{
  text-align: center;
  background: #eee;
  padding: 1%;
  font-size: 2rem;
  margin-top: 5%;
  border-radius: 15px;
  display: inline-block;
}

.content-links span{
  margin: 0 1rem;
  color: blue;
  font-weight: 400;
  font-size: 2rem;
}

.content-links span:hover{
  cursor: pointer;
}