#reliability{
  height: 90%;
  width: 100%;
  order: 2;
}

#reliability__page{
  height: 100%;
  width: 100%;
  display: flex;
}
#reliability__map{
  width: 70%;
  height: 100%;
}
#reliability__sidebar{
  width: 30%;
  height: 100%;
  /* darker backgrounds so that white text can be used accessibly:
    A96623
  */
  background: #A96623;
  overflow-y: auto;
}
.reliability__sidebar-tabs{
  width: 100%;
  height: 7.5%;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin-bottom: 5%;
  text-align: center;
  align-items: center;
  cursor: pointer;
}
.reliability__sidebar-nav{
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 33%;
  color: #fff;
  font-weight: 200;
  font-size: 1.1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid #fff;
}
.reliability__sidebar-nav:last-child{
  border-right: none;
}
.reliability__sidebar-nav:hover{
  cursor: pointer;
  font-weight: 900;
}
.reliability__sidebar-nav.active{
  font-weight: 900;
  background: none;
}
.reliability__sidebar-content{
  width: 100%;
  overflow-y: hidden;
}
.reliability__descriptive-text{
  color: #fff;
}

#content-about{
  padding: 2%;
  background: whitesmoke;
  border-radius: 5px;
}

#reliability__sidebar-purposeContent h2, #reliability__sidebar-inputsContent h2, #reliability__sidebar-outputsContent h2{
  text-transform: capitalize;
  font-size: 1.15rem;
  text-align: center;
  margin: 1% auto;
  color: #e89234
}
.reliability__sidebar-emphasis{
  font-weight: 700;
  color: #06bf9c;
}
.reliability__sidebar-inputTitle{
  font-weight: 700;
  color: #06bf9c;
  text-align: center;
  margin-top: 10px;
}
#reliability__sidebar-inputsContent{
  margin: 5px auto;
  width: 90%;
  color: #08506d
}

#reliability__sidebar-purposeContent, #reliability__sidebar-inputsContent, #reliability__sidebar-outputsContent{
  font-size: 1rem;
}
#reliability__sidebar-purposeContent p{
  margin: 1% 3%;
}
#reliability__sidebar-outputsContent p{
  margin: 3%;
}
.reliability__sidebar-sectionContent{
  display: none;
  height: 100%;
}
.reliability__sidebar-sectionContent.active{
  display: block;
  margin: auto;
  font-size: 1rem;
  width: 90%;
  height: 100%;
}

.reliability__sidebar-sectionContent button{
  border: none;
  color: white;
  background: #e89234;
  padding: 5%;
  margin: .5rem auto;
  box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.1);
  border-radius: 5px;
  width: 100%;
  font-size: 1em;
}


.reliability__sidebar-sectionContent section p{
  color: #08506d;
  padding: 3%;
}
.reliability__sidebar-control{
  min-height: 40%;
  margin: 3% 1%;
  background: whitesmoke;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
  border-radius: 10px;
  width: 100%;
  display: block;
}

.reliability__sidebar-control.display{
  display: none;
}
f

#content-about>.reliability__sidebar-control{
  height: 90%;
}

.reliability__control-title{
  color: #e89234;
  width: 100;
  text-align: center;
}

.reliability__layer-option{
  display: flex;
  justify-content: center;
  flex-flow: column;
  width: 90%;
}
.reliability__layer-checkbox{
  margin: .5rem;
  color: #E89234;
  font-size: 1rem;
}
.reliability__layer-emphasis{
  color: #08506d;
  font-weight: 700;
}
.reliability__legend-section{
  display: none;
  padding: 1rem .5rem;
  font-size: .75rem;
  margin-bottom: 3%;
}
.reliability__legend-section h3{
  font-size: 1rem;
  text-align: center;
  color: #e89234;
  margin-bottom: 3%;
  margin-top: 0;
  text-transform: capitalize;
}
.reliability__legend-section h4{
  text-align: center;
  margin: 2px auto 10px;
}
.reliability__legend-title{
  color: #666;
  text-align: center;
  margin: 10px auto;
  font-size: 1.25rem;
  font-weight: 700;
}

.reliability__legend-items{
  display: flex;
  width: 100%
}
.reliability__legend-item{
  text-align: center;
  padding-bottom: 5px
}

.reliability__sidebar-filter{
  height: 60%;
  overflow: hidden;
  width: 100%;
}
.reliability__filter-dropdown{
  z-index: 3;
  position: fixed;
  display: none;
  left: 0%;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
}

#filter-modal.active{
  display: block;
}

#filter-modal-content{
  position: relative;
  margin: 0 auto;
  background: #e89234;
  width: 40%;
  max-height: 50%;
  margin-top: 10%;
  padding: 3%;
  border-radius: 5px;
  border: none;
  overflow: auto;
}

#close-filter-modal{
  color: #f6efee;
  position: absolute;
  right: 2%;
  top: 1%;
  font-size: 1.5em;
}

#close-filter-modal:hover{
  cursor: pointer;
  color: #ccc;
}
.reliability__filter-default{
  cursor: pointer;
  display: flex;
  padding: 5px;
  margin: 0 auto;
  color: #fff;
  font-size: 1.33rem;
  font-weight: 700;
  width: 75%;
  justify-content: space-evenly;
  align-items: center;
}

.reliability__filter-default:hover{
  font-size: 1.4rem;
  color: #eee
}

.reliability__filter-default.active{
  font-size: 1.4rem;
  color: #08506d
}

.reliability__filter-options{
  display: none;
  flex-flow: row wrap;
  overflow: hidden auto;
  height: 75%;
  background: whitesmoke;
  border-radius: 5px;
  margin: auto;
  padding: 0;
  justify-content: center; 
  align-items: center;
}

.reliability__filter-options.visible{
  display: flex;
}
.reliability__filter-item {
  list-style: none;
  margin: 1% 5%;
  width: 20%;
}

.reliability__filter-summary{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 2%;
  width: 100%;
  color: #08506d;
  font-weight: 700;
}
.reliability__filter-selection{
  font-size: .9rem;
  background: #08506d;
  color: white;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
  width: 20%;
  text-align: center;
  margin: 1% 0;
}
.reliability__filter-selection:hover{
  cursor: pointer;
  background: whitesmoke;
  font-size: .95rem;
  color: #e89234;
}

.reliability__filter-selection:hover:after{
  opacity: 1;
  color: red;
  font-size: .7rem;
  font-weight: 700;
}
.reliability__filter-selection:after{
  content: '\2716';
  color: #e89234;
  font-size: .7rem;
  margin-left: 5%;
}

input[type=checkbox]:checked>label{
  color: #06bf9c;
}

.reliability__popup-container{
  color: #08506d;
  text-align: center;
  margin: 1rem;
}

.reliability__popup-container h3{
  background: #08506d;
  color: white;
  padding: .5rem 0;
  border-radius: 10px;
}
.reliability__popup-container p{
  margin: 0
}
.reliability__popup-data{
  color: #aaa
}