#reliability__page{
  height: 100%;
  width: 100%;
  display: flex;
}
#reliability__map{
  width: 80%;
  height: 100%;
}
#reliability__sidebar{
  width: 20%;
  height: 100%;
  border-left: 2px solid #06bf9c;
  background: whitesmoke;
  overflow-y: auto;
}
.reliability__sidebar-tabs{
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-evenly;
  margin: 5% 0;
  padding: 0;
  text-align: center;
  align-items: center;
  cursor: pointer;
}
.reliability__sidebar-nav{
  text-decoration: none;
  height: 75%;
  font-size: 1.25rem;
  color:#7eaad2;
  font-weight: 400;
  display: flex;
  align-items: center;
  border-bottom: 0 solid #06bf9c;
} 
.reliability__sidebar-nav.active{
  font-weight: 700;
  font-size: 1.5rem;
  color: #08506d;
  border-bottom: 2px solid #06bf9c;
}
.reliability__sidebar-content{
  width: 100%;
  /* height: 100%; */
  overflow-y: hidden;
}

#reliability__sidebar-purposeContent h2, #reliability__sidebar-inputsContent h2, #reliability__sidebar-outputsContent h2{
  text-transform: capitalize;
  font-size: 1.15rem;
  text-align: center;
  margin: 1% auto;
  color: #08506d
}
.reliability__sidebar-emphasis{
  font-weight: 700;
  color: #06bf9c;
}
.reliability__sidebar-inputTitle{
  font-weight: 700;
  color: #06bf9c!important;
  text-align: center;
  margin-top: 10px;
}
#reliability__sidebar-inputsContent{
  margin: 5px auto;
  width: 90%;
  color: #08506d
}

#reliability__sidebar-purposeContent, #reliability__sidebar-inputsContent, #reliability__sidebar-outputsContent{
  font-size: .9rem;
  color: #999;
}
#reliability__sidebar-purposeContent p{
  margin: 1% 3%;
}
#reliability__sidebar-outputsContent p{
  margin: 3%;
}
.reliability__sidebar-sectionContent{
  display: none;
  height: 100%;
}
.reliability__sidebar-sectionContent.active{
  display: block;
  margin: auto;
  font-size: .9rem;
  color: #999;
  width: 90%;
  height: 100%;
}

.reliability__sidebar-control{
  height: 40%;
  margin: 5% 0;
  background: white;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
  border-radius: 10px;
  overflow-y: auto;
  width: 100%;
}
#content-about>.reliability__sidebar-control{
  height: 90%;
}
.reliability__control-title{
  color: #06bf9c;
  width: 100;
  text-align: center;
}

.reliability__layer-option{
  display: flex;
  justify-content: center;
  flex-flow: column;
  width: 90%;
}
.reliability__layer-checkbox{
  margin: .5rem;
  color: #999;
  font-size: 1rem;
}
.reliability__layer-emphasis{
  color: #08506d;
  font-weight: 700;
}
.reliability__legend-section{
  display: none;
  width: 80%;
  padding: 1rem .5rem;
  font-size: .75rem;
  margin: auto;
}

.reliability__legend-title{
  color: #666;
  text-align: center;
  margin: 10px auto;
  font-size: 1.25rem;
  font-weight: 700;
}

.reliability__legend-items{
  display: flex;
  width: 100%
}
.reliability__legend-item{
  text-align: center;
  padding-bottom: 5px
}

.reliability__sidebar-filter{
  height: 60%;
  overflow: hidden;
  width: 100%;
}
.reliability__filter-dropdown{
  display: flex;
  flex-flow: column;
  width: 95%;
  height: 100%;
  justify-content: flex-start;
}

.reliability__filter-default{
  cursor: pointer;
  display: flex;
  padding: 5px;
  margin: 0 auto;
  color: #08506d;
  font-size: 1rem;
  font-weight: 700;
  border-bottom: 2px solid #06bf9c;
  width: 75%;
  justify-content: space-evenly;
  align-items: center;
}

.reliability__filter-default:hover{
  background: #eee
}

.reliability__filter-options{
  display: none;
  margin: auto;
  flex-flow: row wrap;
  overflow: hidden auto;
  height: 75%;
}

.reliability__filter-options.visible{
  display: flex;
}
.reliability__filter-item {
  list-style: none;
  margin: 2% 0;
  width: 33%;
}

.reliability__filter-summary{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 2%;
  width: 100%;
  color: #08506d;
  font-weight: 700;
}
.reliability__filter-selection{
  font-size: .9rem;
  background: #08506d;
  color: white;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
  width: 20%;
  text-align: center;
  margin: 1% 0;
}
.reliability__filter-selection:hover{
  cursor: pointer;
  background: rgba(232,146,52,.5);
  font-size: .95rem;
}

.reliability__filter-selection:hover:after{
  opacity: 1;
  color: red;
  font-size: .7rem;
  font-weight: 700;
}
.reliability__filter-selection:after{
  content: '\2716';
  color: #e89234;
  font-size: .7rem;
  margin-left: 5%;
}
.reliability__filter-default:after{
  content: '\002B';
  color: #06bf9c;
  font-size: 1.25rem;
}
.reliability__filter-default.active:after{
  content: "\2212"
}

input[type=checkbox]:checked>label{
  color: #06bf9c;
}

.reliability__popup-container{
  color: #08506d;
  text-align: center;
  margin: 1rem;
}

.reliability__popup-container h3{
  background: #08506d;
  color: white;
  padding: .5rem 0;
  border-radius: 10px;
}
.reliability__popup-container p{
  margin: 0
}
.reliability__popup-data{
  color: #aaa
}