footer{
    border-top: 1px solid #3b3b3b;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    font-size: 0.75rem;
    background: rgba(59,59,59,0.1);
    color: #3b3b3b;
}
.footer-content-wrapper {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 2% 0;
    
}
#footer-logo{
    max-width: 20%;
    align-self: center;
    margin: 3% 0;
}
#footer-contact-name, #footer-address{
    white-space: pre;
}
#footer-version{
    text-align: center;
}