footer{
    border-top: 1px solid #fff;
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
    padding: 5% 25px;
    font-size: 0.75rem;
    background: #696969;
    color: #fff;
}
footer a{
    color: #f7f7f7;
}
.footer-content-wrapper {
    width: 100%;
}
#footer-logo{
    width: 93px;
    height: 31px;
    margin-bottom: 5%;
}
#footer-phone{
    font-style: initial;
}
@media all and (max-width: 800px ) {
    footer {
        margin-top: 10vh;
    }
}