.input__container{
    display: inline-block;
    /* flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center; */
    margin: auto;
    position: relative;
}

.input__container > *{
    margin: auto 15px;
}

.input__query-input{
    font-size: 16px;
    background-color: #fff;
    color: #08506d;
    font-weight: 700;
    text-align: right;
    font-family: 'Arial Narrow', sans-serif;
    border-style: unset;
    list-style: none;
    padding: .5em;
    font-variant: all-petite-caps;
}

.input__query-execute{
    padding: 1em;
    background-color: #8bb23f;
    text-align: center;
    font-family: 'Arial Narrow', sans-serif;
    border-radius: .25em;
    border-style: unset;
    list-style: none;
}

.input__query-execute:hover{
    background-color: #ccdca7;
}

.input__input-option{
    font-weight: 700;
    font-size: 14px;
    text-align: center;
}

