a {
    text-decoration: none;
    font-family: 'Arial Narrow', Arial, sans-serif;
    color: #08506d;
}
.header__nav-link.active{
    font-weight: 700;
    color: #8bb23f;
    font-size: 1.3rem;
    border-bottom: 3px solid #e89234;
    padding-bottom: 1%;
}