/* nav circles */
.header__nav-links-icons {
    width: 30px;
    border-radius: 50%;
}
.header__nav-links-icons.active{
    border: 5px solid white;
}
.header__nav-links-icons:hover{
    cursor: pointer;
}


/* tooltips */
.header__nav-tooltip {
    position: relative;
    display: inline-block;
    visibility: hidden;
    height: auto;
    min-width: 55px;
}
.header__nav-tooltip-text {
    padding: 3px 10px;
    font-size: 0.7em;
    background-color: #fff;
    color: #696969;
    text-align: center;
    padding: 3px;
    position: absolute;
    top: 28px;
    left: -15px;
    z-index: 1;
    border-radius: 3px;
}