body, #app{
    margin: 0;
    overflow-y: hidden;
    display: flex;
    flex-flow: column;
    font-family: Arial, Helvetica, sans-serif
} 

#main{
    height: 85vh;
    width: 100vw;
    position: relative;
}

abbr{
    text-decoration: none;
    text-transform: uppercase;
}