body, #app{
    margin: 0;
    overflow-y: hidden;
    display: flex;
    flex-flow: column;
    font-family: 'Roboto', 'Arial', sans-serif;
    height: 100vh;
    width: 100vw;
} 

#main{
    height: 100%;
    width: 100%;
} 

abbr{
    text-decoration: none;
    text-transform: uppercase;
}