.header__container{
    display: flex;
    flex-flow: row;
    background: whitesmoke;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: space-between;
    order: 1;
}

.header__project-logo{
    order: 0;
    margin-left: 10px;
    max-width: 20%;
    height: 80%;
}

.header__project-logo:hover{
    cursor: pointer;
}
.header__project-logo svg{
    width: auto;
    height: 90%;
}

#header__nav-container {
    width: 30%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
}

#page-title{
    margin: 1% 0;
    color: #08506d;
    font-weight: 700;
    text-align: center;
}


.header__nav-links{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
