<template id='header-template'>
    <link rel='stylesheet' href='/components/header/header.css'>
    <div class='header__container'>
        <img class='header__project-logo'></img>
        <query-input class='header__input-container'></query-input>
        <control-nav class='header__nav-controls'></div>
    </div>
</template>
<link rel='import' href='/components/header/queryInput/queryInput.html'>
<link rel='import' href='/components/header/navControls/navControls.html'>
<script src="/components/header/HeaderElements.js"></script>
<script src='/components/header/header.js'></script>