.comingSoon__container{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.comingSoon__background{
  width: 100%;
  background-color: rgba(255,255,255,.75);
  height: 100%;
  position: absolute;
}

.comingSoon__splash{
  width: 33%;
  height: 25%;
  position: relative;
  margin: 17% auto;
  background: #e89234;
  border-radius: 25px;
  box-shadow: 0 0 5px 5px #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comingSoon__splash>p{
  font-size: 3em;
  font-weight: 700;
  color: white;
  
}