#frequency-page{
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: whitesmoke
}
.frequency__nav-container{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 0 1%;
}
.frequency__nav-link{
  padding: .5rem;
  border-radius: 50%;
  background: #d8c72e;
  margin: 10%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  color: #eee;
}
.frequency__nav-link:hover{
  cursor: pointer;
  background: rgba(6,191,156, .2);
  color: #06bf9c;
  box-shadow: 2px 2px 4px rgba(153,153,153,.5);
}
.frequency__nav-link.active{
  background: #06bf9c;
  color: white;
  font-weight: 700;
}

.frequency__nav-linkSection{
  position: relative;
  display: inline-block;
}

.frequency__nav-linkSection .frequency__nav-linkTooltip{
  visibility: hidden;
  white-space: nowrap;
  font-weight: 400;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 1%;
  position: absolute;
  z-index: 6;
  left: 0;
  margin-left: 2rem;
  font-size: 1rem;
  border-radius: 5px;

}


.frequency__nav-linkSection:hover .frequency__nav-linkTooltip{
  visibility: visible;
  opacity: .75;
}

.frequency__content-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  background: whitesmoke;
}

.frequency__content-container>*{
  height: 100%
}
.frequency__content-story{
  width: 30%;
  overflow-y: scroll;
  direction: rtl
}
.frequency__content-story *{
  direction: ltr;
}
.frequency__content-map{
  overflow: hidden;
  width: 70%;
}
.frequency__story-section{
  width: 95%;
  display: flex;
  flex-flow: column;
  padding: 2% 0;
  opacity: .1;
  min-height: 33vh;
  margin: 33% auto;
  justify-content: center;
}

.frequency__story-section.active{
  opacity: 1;
  border-radius: 10px;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
  background: white;
}
.frequency__story-section p{
  font-size: .95rem;
  margin: 2.5%;
  text-align: left;
  width: 90%;
  margin: 2% auto;
  color: #999;
}
.frequency__storySection-title{
  text-align: center;
  height: 15%;
  width: 90%;
  display: flex;
  flex-flow: column;
  margin: 2% auto;
}
.frequency__storySection-SectionTitle{
  font-weight: 700;
  font-size: 1.75rem;
  color: #06bf9c;
  margin: 0 5%;
}
.frequency__storySection-TitleDivider{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: 5px auto;
}
.frequency__storySection-TitleDivider hr{
  width: 33%;
  height: 2px;
  background-color: #d8c72e;
  border: none;
}
.frequency__storySection-TitleDivider h2{
  font-weight: 700;
  color: #999;
  text-transform: capitalize;
  font-size: 1.25rem;
}

.frequency__storySection-legend{
  display: flex;
  justify-content: space-evenly;
  width: 85%;
  margin: 0 auto;
  text-align: center;
  flex-flow: column;
}
.frequency__storySection-legendContainer{
  margin: .5rem 0;
}
.frequency__legend-title{
  font-weight: 700;
  margin: 0;
  font-size: 1rem;
}
.frequency__legend-title.railChange{
  margin-top: 5%;
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
}
.frequency__legend-units{
  margin: 0;
  font-size: .9rem;
  color: #999;
  font-weight: 400;
}
.frequency__legend-breakContainer{
  display: flex;
  justify-content: space-evenly;
  margin-top: 2%;
}
.frequency__legend-breakContainer.railChange{
  align-items: center;
}
.frequency__legend-break{
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: center;
}
.frequency__legend-rect, .frequency__legend-railPercent, .frequency__legend-railPercent p{
  font-size: .75rem;
  color: #fff;
  padding: 1%;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.frequency__legend-railPercent {
  color: #777;
  margin: 0;
  white-space: nowrap
}
.frequency__storySection-table{
  width: 85%;
  margin: 2% auto;
  font-size: .8rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 2%;
  background: whitesmoke;
  text-align: center;
  color: #999;
}

.frequency__storySection-tableHeader{
  font-weight: 700;
  font-size: .9rem;
  color: #06bf9c;
}
.summary{
  background: #06bf9c;
  font-weight: 700;
  color: white;
}
.dvrpc-summary{
  background: #d8c72e;
  font-weight: 700;
  color: white;
}
#busLinePerChange{
  margin-bottom: 5rem;
}

.trigger{
  position: fixed;
  background: none;
  height: 1px;
}

.tooltip{
  display:none;
  width: 120px;
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  /* left: 50%; */
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip.active{
  display: block;
  opacity: 1;
}
.mapboxgl-popup-close-button{
  color: #d8c72e;
  font-weight: 700;
  font-size: 1.25rem;
  top: 2.5%;
  right: 1.5%;
}
.mapboxgl-popup-close-button:hover{
  color: #ccc
}

.frequency__popup-container{
  width: 20rem;
  display: flex;
  flex-flow: column;
}
.frequency__popup-navigation{
  display: flex;
  align-items: center;
  width: 85%;
  flex-flow: row wrap;
}
.frequency__popup-navDot{
  font-size: .85rem;
  color: #ccc;
  margin: 0 1%;
  cursor: pointer;
}
.frequency__popup-navDot.active{
  color: #06bf9c;
  border: none;
}
.frequency__popup-header{
  font-size: 1rem;
  color: white;
  background: #06bf9c;
  border-radius: 5px;
  padding: 2%;
  text-align: center;
  width: 75%;
  margin: 2% auto;
}
.frequency__popup-meat{
  color: #AAA;
  margin: 2%;
  font-weight: normal;
}
.frequency__popup-unit{
  font-size: .8rem;
}
.frequency__popup-emphasis{
  color: #d8c72e;
  font-weight: 700;
  font-size: .9rem;
}
.frequency__popup-noemphasis{
  font-weight: 400;
  font-size: .9rem;
}
.frequency__popup-error{
  font-size: 1rem;
  color: white;
  background: red;
  border-radius: 5px;
  padding: 2%;
  text-align: center;
  width: 75%;
  margin: 2% auto;
}