#frequency-page{
  height: 100%;
  width: 100%;
}

.frequency__nav-container{
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(216,199,46,.8);
  margin: .5% .5% 0;
}
.frequency__nav-link{
  padding: 0.75rem;
  border-radius: 5px;
  background: white;
  margin: 0 20px;
  width: 200px;
  text-align: center;
  box-shadow: 0 0 7px 1px rgba(0,0,0,.1);
}
.frequency__nav-link.active{
  background: #06bf9c;
  color: white;
  font-weight: 700;
}
.frequency__content-container{
  width: 100%;
  height: 89%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  background: whitesmoke
}
.frequency__content-container>*{
  height: 95%;
  margin: 2.5%;
}
.frequency__content-story{
  width: 32%;
  overflow-y: scroll;
}
.frequency__content-map{
  width: 63%;
}
.frequency__story-section{
  display: flex;
  flex-flow: column;
  padding: 2%;
  opacity: .1;
}

.frequency__story-section.active{
  opacity: 1;
  margin: 5% auto;
  width: 90%;
  border-radius: 10px;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
  background: white;
}
.frequency__storySection-title{
  text-align: center;
  height: 15%;
  width: 90%;
  display: flex;
  flex-flow: column;
  margin: auto;
}
.frequency__storySection-SectionTitle{
  font-weight: 700;
  font-size: 1.5rem;
  color: #06bf9c;
  margin: 0;
}
.frequency__storySection-TitleDivider{
  display: flex;
  justify-content: center;
  align-items: center;
}
.frequency__storySection-divider{
  width: 33%;
  height: 2px;
  background-color: #d8c72e;
  border: none;
}
.frequency__storySection-ScenarioTitle{
  font-weight: 700;
  color: #999;
  text-transform: capitalize;
}
.frequency__storySection-content{
  text-align: center;
  width: 90%;
  margin: auto;
  color: #999;
}
.frequency__storySection-text{
  font-size: .95rem;
  margin: 2.5%;
}
.frequency__storySection-table{
  width: 85%;
  margin: 2% auto;
  font-size: .8rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 2%;
  background: whitesmoke;
}

.frequency__storySection-tableHeader{
  font-weight: 700;
  font-size: .9rem;
  color: #06bf9c;
}
.summary{
  background: #06bf9c;
  font-weight: 700;
  color: white;
}